#main,#userdiv{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

#imageUser{
    height: 70px;
    width: 60px;
}
img{
    border-radius: 500px;
    width: 100px;
    height: auto;
    margin-bottom: 25px;
    border: 10px solid black;
}

body{ 
    background-image: url("1.png");
    background-size: 200px 200px;
    font-family: 'Raleway', sans-serif;
}
.inputBox{
    width: 220px;
    height: 8px;
    margin: 7px;
    border-radius: 70px;
    padding: 20px;
    font-size: 18px;
    background: rgb(176,255,202);
    background: linear-gradient(90deg, rgba(176,255,202,1) 0%, rgba(183,255,253,1) 100%);
    color: black;
    background-color: white;
}

.inputBox:hover, .inputBox:focus{
    background: rgb(89,200,125);
    background: linear-gradient(344deg, rgba(89,200,125,1) 0%, rgba(104,208,241,1) 100%);
    cursor:text;
    box-shadow: none;
    
}
.inputBox:focus{
    outline: none;
}

.btn{
    height: 30px;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #A97C73;
    color: white;
    border: 2px solid #A97C73;
}

.btn:hover{
    background-color: #F6F4F3;
    cursor: pointer;
    font-weight: bold;
    color: #214F4B;
    border: 2px solid #A97C73;
}

.message{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    color: red;
}

#accepted{
    color: #065613;
}

#btnRejected{
    background-color: #a01d03;
    color: white;
    border: 2px solid #9a311c;
}

#btnRejected:hover{
    background-color: #F6F4F3;
    color: #ff2a00;
}

#btnAccepted{
    background-color: #07942f;
    color: white;
    border: 2px solid #07942f;
}

#btnAccepted:hover{
    background-color: #F6F4F3;
    color: #065613;
}

.btns{
    height: 30px;
    width: 150px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.btns:hover{
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #A97C73;
}

#tableCoupon{
    margin-top: 90px;
    display: none;
    justify-content: center;
}

#useremail{
    font-size: 20px;
    text-align: center;
}

#buttonDiv{
    display: flex;
    justify-content: center;
}

#add{
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    width: 50%;
    background-color: rgba(154, 153, 153, 0.2);
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

/*  iPads, Tablets */
@media screen and (min-width: 481px) and  (max-width: 768px){
    #main{
        margin-top: 110px;
    }
    img{
        width: 110px;
    }
    .inputBox{
        height: 8px;
        width: 390px;
        font-size: 19px;
        margin: 8px;
    }
    .btn{
        height: 32px;
        width: 160px;
        font-size: 16px;
    }
    .message{
        font-size: 30px;
    }
    .btns{
        height: 30px;
        width: 150px;
    }
    #useremail{
        font-size: 25px;
    }

}
    /* Small screens, laptops */
@media screen and (min-width: 769px) and  (max-width: 1024px){
    #main{
        margin-top: 120px;
    }
    img{
        width: 120px;
    }
    .inputBox{
        height: 9px;
        width: 410px;
        font-size: 20px;
        margin: 9px;
    }
    .btn{
        height: 35px;
        width: 170px;
        font-size: 18px;
    }
    .message{
        font-size: 35px;
    }
    .btns{
        height: 35px;
        width: 160px;
    }
    #useremail{
        font-size: 29px;
    }


}
    /* Desktops, large screens */
@media screen and (min-width: 1025px) and  (max-width: 1200px){
    #main{
        margin-top: 140px;
    }
    img{
        width: 140px;
    }
    .inputBox{
        height: 10px;
        width: 460px;
        font-size: 20px;
        margin: 10px;
    }
    .btn{
        height: 38px;
        width: 180px;
        font-size: 19px;
    }
    .message{
        font-size: 40px;
    }
    .btns{
        height: 35px;
        width: 160px;
    }
    #useremail{
        font-size: 34px;
    }

}
    /* Extra large screens, TV */
@media screen and (min-width: 1201px) {
    #main{
        margin-top: 140px;
    }
    img{
        width: 150px;
    }
    .inputBox{
        height: 15px;
        width: 490px;
        font-size: 20px;
        margin: 10px;
    }
    .btn{
        height: 38px;
        width: 180px;
        font-size: 19px;
    }
    .message{
        font-size: 40px;
    }
    .btns{
        height: 35px;
        width: 170px;
    }
    #useremail{
        font-size: 38px;
    }

}